@import "./../../node_modules/@cvsdigital_ui-arch/design-tokens/dist/scss/_variables.scss";

//$color-button-plain: green;
:root {
  --app-plain-color: #{$color-background-button-plain-base};
  --app-primary-color: #{$color-brand-primary-light};
  --app-secondary-color: #{$color-background-button-secondary-base};
  --app-danger-color: #{$color-background-button-danger-base};
  --app-light-color: #{$color-background-button-secondary-active};
  --app-font-family: #{$asset-font-opensans-name}; //Arial, Helvetica, sans-serif;
  --app-font-size: #{$size-font-small};
  --app-primary-text-color: #{$color-background-text-primary-light};
  --app-secondary-text-color: #{$color-background-text-secondary-light};
  --app-danger-text-color: #{$color-background-text-danger-light};
  --app-plain-text-color: #{$color-background-text-plain-light};
}

[theme="dark"] {
  --app-plain-color: #{$color-background-button-plain-base};
  --app-primary-color: #{$color-brand-primary-dark};
  --app-secondary-color: #{$color-background-button-secondary-base};
  --app-danger-color: #{$color-background-button-danger-base};
  --app-light-color: #{$color-background-button-secondary-active};
  --app-font-family: #{$asset-font-opensans-name}; //Arial, Helvetica, sans-serif;
  --app-font-size: #{$size-font-small};
  --app-primary-text-color: #{$color-background-text-primary-light};
  --app-secondary-text-color: #{$color-background-text-secondary-light};
  --app-danger-text-color: #{$color-background-text-danger-light};
  --app-plain-text-color: #{$color-background-text-plain-light};
}

[theme="light"] {
  --app-plain-color: #{$color-background-button-plain-base};
  --app-primary-color: #{$color-brand-primary-light};
  --app-secondary-color: #{$color-background-button-secondary-base};
  --app-danger-color: #{$color-background-button-danger-base};
  --app-light-color: #{$color-background-button-secondary-active};
  --app-font-family: #{$asset-font-opensans-name}; //Arial, Helvetica, sans-serif;
  --app-font-size: #{$size-font-small};
  --app-primary-text-color: #{$color-background-text-primary-light};
  --app-secondary-text-color: #{$color-background-text-secondary-light};
  --app-danger-text-color: #{$color-background-text-danger-light};
  --app-plain-text-color: #{$color-background-text-plain-light};
}

//:host-context(.app-ui-toolkit-dark) {
//  --app-plain-color: #{$color-background-button-plain-base};
//  --app-primary-color:#{$color-brand-primary-dark};
//  --app-secondary-color:#{$color-background-button-secondary-base};
//  --app-danger-color:#{$color-background-button-danger-base};
//  --app-light-color: #{$color-background-button-secondary-active};
//  --app-font-family: #{$asset-font-opensans-name}; //Arial, Helvetica, sans-serif;
//  --app-font-size: #{$size-font-small};
//  --app-primary-text-color : #{$color-background-text-primary-light};
//  --app-secondary-text-color : #{$color-background-text-secondary-light};
//  --app-danger-text-color : #{$color-background-text-danger-light};
//  --app-plain-text-color : #{$color-background-text-plain-light};
//}

